
.my_btn{ 
    background-color:#4388a8;  
    color: rgb(253, 253, 253);    
    text-decoration: none;
    padding: .75rem;
    display: inline-block;
    
}
.btn--orange {
    background-color: #d56b41;
  
}