
.my_btn{ 
    background-color:#f012f0;  
    color: rgb(26, 59, 245);    
    text-decoration: none;
    padding: .75rem;
    display: inline-block;
    
}
.btn--orange {
    background-color: #41d541;
  
}